
.container {
    position: relative;
   
    max-width: 300px;
    max-height: 100%;

    display: flex;            
    flex-direction: column;    
    margin: 20px;              
    padding: 20px;  
    

    border-radius: 10px;
    background-color: #EFEFEF;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: Inter;
}
.redirect {
    cursor: pointer;
}

.base {
    margin: 3% 0;
    padding: 2%;

    /* height: 5%;
    width: 100%;
    top: 15px;
    left: 10%;
    display: inline-block; */
}

.base span{
    color: #2db8c5;
    font-weight: bold;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.instance-child {
    position: relative;
    /* width: 180px;
    height: 180px; */
    width: 180px;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-bottom: 15%;
}

.side-button {
    background-color: #0066cc;
    color: white;
    font-size: 18px;
    width: 40%;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0;
}

@media (max-width: 200px) { 
    .instance-child {
        width: 90vw; 
    }
}

@media (max-width: 768px) { 
    .container {
        margin: 0px; 
    }
}
