header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: 6px;
}

header h1 {
    margin: 0;
}

header img{
    height: 30px;
}

header nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}