.main{
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px
}

.content > div {
    background-color: #EFEFEF;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    font-family: Inter;
}