:root {
    --cor-principal: #fff;
    --cor-secundaria: #7b7bf8;
    --cor-terciaria: #000000;
    --cor-quaternaria: #6868ff6d;
    --cor-hover: #6868ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px var(--cor-quaternaria);
    width: 400px;
    color: var(--cor-secundaria);
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--cor-secundaria);
}

select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}


input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}


button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    box-shadow: 5px 5px 1px var(--cor-quaternaria);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: var(--cor-hover);
}

::placeholder {
    color: var(--cor-secundaria);
    opacity: 1;
}