body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container {
    background-color: #f7f8fc;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
}
.menu {
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

a:link { 
    text-decoration: none;
    color: #000000; 
}
a:visited { 
    text-decoration: none;
    color: #1C1C1C;
} 
a:hover { 
    text-decoration: none;
    color: #00a2ae; 
} 
a:active { 
    text-decoration: none; 
}

.results {
    margin: 30px;
    padding: 15px;

}
.exam {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}
.exam:last-child {
    border-bottom: none;
}
.exam h4 {
    font-size: 18px;
    margin: 0;
}
.exam p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
.share {
    color: #00a2ae;
    font-size: 14px;
    text-align: right;
}